.app-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 10px 20px;
    background:  #FFF;
    box-shadow: 0px 6px 24px 0px rgba(208, 213, 221, 0.20);

    .ant-breadcrumb ol{
            font-size: 16px;
            color: #1C1E23;
            display: flex;
            align-items: center;

            .ant-breadcrumb-separator{
                color: #1C1E23;
                margin-top: -5px;
            }
            li{
                cursor: pointer;
            }
             li:last-child span{
                color: #98A2B3;
            }
    }
    

    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        .withMenuIcon{
            display: flex;
            align-items: center;
            justify-content: right;
            width: 100%;

            .drawer_icon{
                display: none;
            }

            .right_div{
                
            display: flex;
            align-items: center;
            gap: 20px;
            
            .profile{
                display: flex;
                align-items: center;
                gap: 16px;
                p{
                    white-space: nowrap;
                    color: #1D2939;
                    font-size: 18px;
                }
                img{
                    width: 36px;
                    border-radius: 6px;
                    
                }
            }
        }
        span{
            font-size: 24px;
            cursor: pointer;
            color: #1D2939;
            &:hover{
                color: #4623E9;
            }
        }
    }
        .ant-input-affix-wrapper{
            width: 100%;
            max-width: 200px;
            padding: 8px; 
            border-radius: 12px;
            border: 1px solid  #D0D5DD;
            gap: 8px;
            span{
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width:1100px){
    .app-bar{
        gap: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
        .right{
            width: 100%;
            justify-content: space-between;
            
        }
    }
    
}
@media screen and (max-width:576px){
    .app-bar{
        .right{
            align-items: flex-start;
            flex-direction: column-reverse;
            .withMenuIcon {
                justify-content: space-between;

                .drawer_icon{
                    display: flex;
                }
            }
            .ant-input-affix-wrapper{
                width: 100%;
                max-width: 100%;
            }
        }
    }
    
}